<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <link rel="stylesheet" href="../static/css/base.css">
    <meta charset="UTF-8">
    <title>Sport</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<header>
    <div class="page-header-bar">
    </div>
</header>


<div class="page-content">
    <div class="center-container container">

        <div class="right-col">
            <div class="news-col">
                <div class="news-header">
                    <h1>اخبار</h1>
                </div>
                <div class="content-widget">

                    <div class="tab-list tabs-two-item">

                        <ul class="nav nav-pills news-pills">
                            <li class="active"><a data-toggle="pill" href="#latestNews">آخرین اخبار</a></li>
                            <li><a data-toggle="pill" href="#forYouNews">برای شما</a></li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div id="latestNews" class="tab-pane fade in active news-container">
                            <div class="news-item">
                                <img class="news-img" src="../static/images/img2.jpg">
                                <div class="news-title">رئال مادرید و رکوردی که از آن فراری است</div>
                                <div class="news-abstract">امشب رئال مادرید در آخرین بازی دور گروهی لیگ قهرمانان، به
                                    مصاف
                                    زسکا خواهد رفت.
                                </div>
                                <span class="date">۲۲ آذر ۱۳۹۷</span>
                                <div class="news-link">
                                    <a href="./news.html"
                                       target="_blank">مشاهده خبر</a>
                                </div>
                            </div>


                            <div class="news-item">
                                <img class="news-img" src="../static/images/img3.jpg">
                                <div class="news-title">ابهام در مورد دروازه بان استقلال برابر پدیده</div>
                                <div class="news-abstract">سرمربی استقلال هنوز تکلیف دروازه بان تیمش را برای بازی با
                                    پدیده
                                    مشخص نکرده است.
                                </div>
                                <span class="date">۲۲ آذر ۱۳۹۷</span>
                                <div class="news-link">
                                    <a href="https://www.varzesh3.com/news/1575664/%D8%A7%D8%A8%D9%87%D8%A7%D9%85-%D8%AF%D8%B1-%D9%85%D9%88%D8%B1%D8%AF-%D8%AF%D8%B1%D9%88%D8%A7%D8%B2%D9%87-%D8%A8%D8%A7%D9%86-%D8%A7%D8%B3%D8%AA%D9%82%D9%84%D8%A7%D9%84-%D8%A8%D8%B1%D8%A7%D8%A8%D8%B1-%D9%BE%D8%AF%DB%8C%D8%AF%D9%87"
                                       target="_blank">مشاهده خبر</a>
                                </div>
                            </div>

                            <div class="news-item">
                                <img class="news-img" src="../static/images/img4.jpg">
                                <div class="news-title">غیبت بازیکن تاثیرگذار جدال با پارس جنوبی</div>
                                <div class="news-abstract">برانکو ایوانکوویچ در دیدار برابر پارس جنوبی قادر به سود بردن
                                    از
                                    کمال کامیابی نیا که در دو تقابل با این تیم، تاثیر زیادی در نتیجه داشت، نخواهد بود.
                                </div>
                                <span class="date">۲۲ آذر ۱۳۹۷</span>
                                <div class="news-link">
                                    <a href="https://www.varzesh3.com/news/1575646/%D8%BA%DB%8C%D8%A8%D8%AA-%D8%A8%D8%A7%D8%B2%DB%8C%DA%A9%D9%86-%D8%AA%D8%A7%D8%AB%DB%8C%D8%B1%DA%AF%D8%B0%D8%A7%D8%B1-%D8%AC%D8%AF%D8%A7%D9%84-%D8%A8%D8%A7-%D9%BE%D8%A7%D8%B1%D8%B3-%D8%AC%D9%86%D9%88%D8%A8%DB%8C"
                                       target="_blank">مشاهده خبر</a>
                                </div>
                            </div>
                        </div>
                        <div id="forYouNews" class="tab-pane fade news-container">
                            <div class="news-item">
                                <img class="news-img" src="../static/images/img3.jpg">
                                <div class="news-title">ابهام در مورد دروازه بان استقلال برابر پدیده</div>
                                <div class="news-abstract">سرمربی استقلال هنوز تکلیف دروازه بان تیمش را برای بازی با
                                    پدیده
                                    مشخص نکرده است.
                                </div>
                                <span class="date">۲۲ آذر ۱۳۹۷</span>
                                <div class="news-link">
                                    <a href="https://www.varzesh3.com/news/1575664/%D8%A7%D8%A8%D9%87%D8%A7%D9%85-%D8%AF%D8%B1-%D9%85%D9%88%D8%B1%D8%AF-%D8%AF%D8%B1%D9%88%D8%A7%D8%B2%D9%87-%D8%A8%D8%A7%D9%86-%D8%A7%D8%B3%D8%AA%D9%82%D9%84%D8%A7%D9%84-%D8%A8%D8%B1%D8%A7%D8%A8%D8%B1-%D9%BE%D8%AF%DB%8C%D8%AF%D9%87"
                                       target="_blank">مشاهده خبر</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="left-col">
            <div class="game-col">
                <div class="game-header">
                    <h1>برنامه بازی‌ها</h1>
                </div>
                <div class="content-widget">

                    <div class="tab-list tabs-two-item">
                        <ul class="nav nav-pills news-pills">
                            <li class="active"><a data-toggle="pill" href="#latestGame">آخرین بازی‌ها</a></li>
                            <li><a data-toggle="pill" href="#forYouGame">برای شما</a></li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div id="latestGame" class="tab-pane fade in active game-container">
                            <div class="game-header">فوتبال</div>

                            <div class="game-item">
                                <div class="left-team">
                                    <div>
                                        <img src="../static/images/esteghlal.png"
                                             class="loaded">
                                        <span class="teamname">استقلال</span>
                                    </div>
                                </div>
                                <div class="statistic">
                                    <span class="matchdate">۲۰:۳۰</span>
                                    <span class="score">۶ - ۰</span>
                                    <span class="matchstate">پایان</span>
                                </div>
                                <div class="right-team">
                                    <div>
                                        <img src="../static/images/perspolis.jpg"
                                             class="loaded">
                                        <span class="teamname">پرسپولیس</span>
                                    </div>
                                </div>
                            </div>
                            <div class="game-item">
                                <div class="left-team">
                                    <div>
                                        <img src="../static/images/esteghlal.png"
                                             class="loaded">
                                        <span class="teamname">استقلال</span>
                                    </div>
                                </div>
                                <div class="statistic">
                                    <span class="matchdate">۲۰:۳۰</span>
                                    <span class="score">۶ - ۰</span>
                                    <span class="matchstate">پایان</span>
                                </div>
                                <div class="right-team">
                                    <div>
                                        <img src="../static/images/perspolis.jpg"
                                             class="loaded">
                                        <span class="teamname">پرسپولیس</span>
                                    </div>
                                </div>
                            </div>

                            <div class="game-header">بسکتبال</div>

                            <div class="game-item">
                                <div class="left-team">
                                    <div>
                                        <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBKe0ms?f=PNG&h=60&w=60&m=6&q=60&o=t&l=f"
                                             class="loaded">
                                        <span class="teamname">MIN</span>
                                    </div>
                                </div>
                                <div class="statistic">
                                    <span class="matchdate">۲۳:۳۰</span>
                                    <span class="score">۱۱۰ - ۹۸</span>
                                    <span class="matchstate">پایان</span>
                                </div>
                                <div class="right-team">
                                    <div>
                                        <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAlW4HR?f=PNG&h=60&w=60&m=6&q=60&o=t&l=f"
                                             class="loaded">
                                        <span class="teamname">SAC</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="forYouGame" class="tab-pane fade game-container">
                            <div class="game-header">فوتبال</div>

                            <div class="game-item">
                                <div class="left-team">
                                    <div>
                                        <img src="../static/images/esteghlal.png"
                                             class="loaded">
                                        <span class="teamname">استقلال</span>
                                    </div>
                                </div>
                                <div class="statistic">
                                    <span class="matchdate">۲۰:۳۰</span>
                                    <span class="score">۶ - ۰</span>
                                    <span class="matchstate">پایان</span>
                                </div>
                                <div class="right-team">
                                    <div>
                                        <img src="../static/images/perspolis.jpg"
                                             class="loaded">
                                        <span class="teamname">پرسپولیس</span>
                                    </div>
                                </div>
                            </div>

                            <div class="game-header">بسکتبال</div>

                            <div class="game-item">
                                <div class="left-team">
                                    <div>
                                        <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBKe0ms?f=PNG&h=60&w=60&m=6&q=60&o=t&l=f"
                                             class="loaded">
                                        <span class="teamname">MIN</span>
                                    </div>
                                </div>
                                <div class="statistic">
                                    <span class="matchdate">۲۳:۳۰</span>
                                    <span class="score">۱۱۰ - ۹۸</span>
                                    <span class="matchstate">پایان</span>
                                </div>
                                <div class="right-team">
                                    <div>
                                        <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAlW4HR?f=PNG&h=60&w=60&m=6&q=60&o=t&l=f"
                                             class="loaded">
                                        <span class="teamname">SAC</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
</div>

<footer class="page-footer"></footer>

</body>
</html>