<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <link rel="stylesheet" href="../static/css/football-player.css">
    <meta charset="UTF-8">
    <title>Football Player</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<header>
    <div class="page-header-bar">
    </div>
</header>

<div class="page-content">
    <div class="container">
        <div class="row player-summary">
            <div class="player-summary-profile">
                <div class="player-summary__image-block">
                    <img class="player-img"
                         src="../static/images/football-player.png">
                </div>
                <div class="player-summary__name">
                    <div class="player-summary__full-name">
                        نام کامل:
                        <span>لیونل مسی</span>
                    </div>
                    <div class="player-summary__team-name">
                        باشگاه:
                        <span>بارسلونا</span>

                    </div>
                </div>

                <div>
                    <img class="ball" src="../static/images/foot-ball.png">
                </div>
            </div>

            <div class="player-summary-info">
                <div class="player-summary-age">
                    <div class="age-title title">
                        سن
                    </div>
                    <div class="age-val val">
                        ۲۷
                    </div>
                </div>
                <div class="player-summary-weight">
                    <div class="weight-title title">
                        وزن
                    </div>
                    <div class="weight-val val">
                        ۷۰ کیلوگرم
                    </div>
                </div>
                <div class="player-summary-tall">
                    <div class="tall-title title">
                        قد
                    </div>
                    <div class="tall-val val">
                        ۱۸۰ سانتی‌متر
                    </div>
                </div>
                <div class="player-summary-country">
                    <div class="country-title title">
                        ملیت
                    </div>
                    <div class="country-val val">
                        آرژانتین
                    </div>
                </div>
                <div class="player-summary-post">
                    <div class="post-title title">
                        پست
                    </div>
                    <div class="post-val val">
                        فوروارد
                    </div>
                </div>
            </div>
        </div>

        <div class="row player-statistics">
            <table class="table table-striped">
                <thead>
                <tr style="background-color:rgba(10,100,100,.1)" class="sticky-top">
                    <td>سال</td>
                    <td>گل</td>
                    <td>پاس گل</td>
                    <td>کارت زرد</td>
                    <td>کارت قرمز</td>
                    <td>بازی (تعداد)</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>۲۰۱۸</td>
                    <td>۶۰</td>
                    <td>۴۰</td>
                    <td>۱۰</td>
                    <td>۵</td>
                    <td>۷۷</td>
                </tr>
                <tr>
                    <td>۲۰۱۷</td>
                    <td>۶۰</td>
                    <td>۴۰</td>
                    <td>۱۰</td>
                    <td>۵</td>
                    <td>۷۷</td>
                </tr>
                <tr>
                    <td>۲۰۱۶</td>
                    <td>۱۲۳</td>
                    <td>۹۰</td>
                    <td>۲۳</td>
                    <td>۱۲</td>
                    <td>۸۹۲</td>
                </tr>
                <tr>
                    <td>۲۰۱۵</td>
                    <td>۲۳۲</td>
                    <td>۲۱۱</td>
                    <td>۲۳</td>
                    <td>۱۲</td>
                    <td>۸۹۸</td>
                </tr>
                <tr>
                    <td>۲۰۱۴</td>
                    <td>۱۲۳۳</td>
                    <td>۲۳</td>
                    <td>۲۲</td>
                    <td>۱۲۹</td>
                    <td>۹۰</td>
                </tr>
                <tr>
                    <td>۲۰۱۳</td>
                    <td>۲۲</td>
                    <td>۱۲</td>
                    <td>۰</td>
                    <td>۱۲</td>
                    <td>۲۱۰</td>
                </tr>
                <tr>
                    <td>۲۰۱۲</td>
                    <td>۱۶</td>
                    <td>۲</td>
                    <td>۳</td>
                    <td>۴</td>
                    <td>۳۲۱</td>
                </tr>
                <tr>
                    <td>۲۰۱۱</td>
                    <td>۱۷</td>
                    <td>۱۳</td>
                    <td>۸</td>
                    <td>۱</td>
                    <td>۷۵۴</td>
                </tr>
                <tr>
                    <td>۲۰۱۰</td>
                    <td>۱۳</td>
                    <td>۶</td>
                    <td>۲</td>
                    <td>۹</td>
                    <td>۹۰</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row player-news">
            <div class="player-news-header">
                آخرین اخبار مربوط به بازیکن
            </div>

            <div class="player-news-content">
                <ul>
                    <li>
                        <a target="_blank" href="http://google.com">خبر شماره ۱</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://google.com">خبر شماره ۲</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://google.com">خبر شماره ۳</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer"></footer>


</body>
</html>